html
    body
        p This app auto deploys files to salesforce when they are pushed to a github repo.
        p For more info, you can see #[a(href='https://github.com/nginth/salesforce-git-auto-deploy') the github repo.]